<head>
  <title>Geolocation</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
</head>
  <body>
    <%= image_tag("chaptrak_img.jpg") %>
  </body>

